.features h2 {
  display: none;
}

.features > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
  max-width: 1158px;
}

.features > ul > li {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 8px;
}

.features-title {
  color: #2e2f42;
}
