.footer {
  background-color: #2e2f42;
  color: #f4f4fd;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer p {
  color: inherit;
}

.footer a {
  color: inherit;
}

.footer .logo:hover {
  color: inherit;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 1158px;
  padding: 0 15px;
  margin: 100px 0;
}

.footer .container p {
  margin-top: 16px;
}
